#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}
/* Basic table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Header styling */
thead {
  background-color: #333;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Row styling */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even):has(td div.selectedTeam) {
  background-color: rgb(253, 221, 221);
}

tbody tr:nth-child(odd):has(td div.selectedTeam) {
  background-color: rgb(254, 235, 235);
}


td div.selectedTeam {
  background-color: #f7a3a3;
}

tbody td {
  padding: 10px;
}

/* Optional: Hover effect for rows */
tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td,
thead th {
  padding: 10px 20px; /* Adds padding to the left and right of each cell */
}
